* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {  
  height: 100vh;
  overflow-y: hidden;
  background: white;
  color: black;
}

#coor{
  position: fixed;
  top: 1vh;
  right: 1vw;
}

.slider {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory; 
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  /* scroll-behavior: smooth; */
  scroll-behavior: cubic-bezier(0.42, 0, 0.58, 1);

}

section {
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  overflow-y: hidden;
  position: relative;
}


.backimg{
  position: absolute;
  bottom: 0;
  left: 0vw;
  height: 50vh;
  width: 100vw;
}
.bkup{
  transform: scaleX(-1);
}

.txt{
  width: 60vw;
  font-family: 'Calligraffitti', cursive;
  /* font-size: clamp(1rem, 2vw + 0.75rem, 1.5rem); */
  font-size: clamp(32px, 4vw, 56px);
  text-align: center;
}

.txt_b{
  width: 50vw;
  margin-left: 15vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: clamp(32px, 4vw, 56px);
  text-align: center;
  line-height: 6vh;
}
.titlesoap{
  position: absolute;
  top: 5vh;
  right: 5vw;
  font-family: 'Calligraffitti', cursive;
  font-size: clamp(32px, 4vw, 56px);
  text-align: right;
  font-weight: bold;
}

/* ------ SECTION 1 ------- */
  
.hand{
  position: absolute;
  bottom: 5vh;
  left: 90vw;
  /* border: blue solid 1px; */
  /* animation: linear infinite;
  animation-name: run;
  animation-duration: 2s; */
  z-index: 10;
}
.arrowhor img{
  width: 7vw;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 2s;
}
.arrowver img{
  position: relative;
  top: -4.7vw;
  width: 7vw;
}

.logobox{
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 30vw;
}
.logo{
  position: relative;
  left: 0vw;
}
.rugiada_text{
  position: relative;
  top: -16vw;
  left: 0vw;
}

.fpart{
  opacity: 0;
}
.rugiada{
  opacity: 1;
}

.text1{
  position: absolute;
  top: 20vh;
  right: 5vw;
}

@keyframes strokeOffsetR {
  to {
    stroke-dashoffset: 0;
  }
}

#mask-r {
  animation: strokeOffsetR 1s linear forwards 2s;
}  
#mask-u {
  animation: strokeOffsetR 0.5s linear forwards 3s;
}  
#mask-g {
  animation: strokeOffsetR 1s linear forwards 3.5s;
}  
#mask-i {
  animation: strokeOffsetR 0.5s linear forwards 4.5s;
}  
#mask-a1 {
  animation: strokeOffsetR 1s linear forwards 5s;
}  
#mask-d {
  animation: strokeOffsetR 1s linear forwards 6s;
}    
#mask-a2 {
  animation: strokeOffsetR 1s linear forwards 7s;
}    

/* ------ SECTION 2 ------- */
.text2{
  position: absolute;
  top: 20vh;
  right: 5vw;
}

.imgsoap1{
  position: absolute;
  top: 10vh;
  left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgsoap1 img{
  height: 70vh;
  border-radius: 3vw;
  filter: drop-shadow(0px 5px 5px #222);
}

/* ------ SECTION 3 ------- */
  
.text3{
  position: absolute;
  top: 10vh;
  left: 20vw;
  width: 60vw;
  margin-right: 5vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: clamp(32px, 3vw, 36px);
  text-align: center;
  z-index: 10
}

.imgpos3a{
  opacity: .1;
  position: absolute;
  bottom: 115vh;
  left: 15vw;
}
.imgpos3a img{
  width: 10vw;
  filter: drop-shadow(0px 5px 5px #222);
}
.imgpos3b{
  opacity: .1;
  position: absolute;
  bottom: 115vh;
  left: 40vw;
}
.imgpos3b img{
  width: 7vw;
  filter: drop-shadow(0px 5px 5px #222);
}
.imgpos3c{
  opacity: .1;
  position: absolute;
  bottom: 115vh;
  left: 60vw;
}
.imgpos3c img{
  width: 5vw;
  filter: drop-shadow(0px 5px 5px #222);
}



/* ------ SECTION 4 ------- */
.text4{
  position: absolute;
  top: 8vh;
  left: 30vw;
}
.imgpos4{
  position: absolute;
  top: 8vh;
  left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgpos4 img{
  border-radius: 3vw;
  height: 70vh;
  filter: drop-shadow(0px 5px 5px #222);
}
.imgpos4b{
  position: absolute;
  top: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: right;
  opacity: 0.2;
}
.imgpos4b img{
  width: 80vw;
  filter: drop-shadow(0px 5px 5px #222);
}



/* ------ SECTION 5 ------- */
.text5{
  position: absolute;
  top: 8vh;
  right: 5vw;
}
/* ------ SECTION 6 ------- */
.text6{
  position: absolute;
  top: 20vh;
  right: 5vw;
}
.imgpos6{
  position: absolute;
  top: 20vh;
  left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgpos6 img{
  border-radius: 3vw;
  height: 40vh;
  filter: drop-shadow(0px 5px 5px #222);
  opacity: 0.5;
}


/* ------ SECTION 7 ------- */


/* ------ SECTION 8 ------- */


/* ------ SECTION 9 ------- */


  /* ------ SECTION 13 ------- */
  .anitext{
    position: absolute;
    top: 10vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .anitext lamore-text{
    width: 90vw;
  }
  
  .mask {
      fill: none;
      stroke: #ffffff;
      /* stroke-dasharray: 1000;
      stroke-dashoffset: 1000; */
  }
  
    /* Animation the stroke-dashoffset to a zero length */
    @keyframes strokeOffset {
      to {
        stroke-dashoffset: 0;
      }
    }
    
    /* Apply the animation to each mask */
    #mask-01 {
      animation: strokeOffset 0.2s linear forwards;
    }  
    #mask-02 {
      animation: strokeOffset 0.2s linear forwards .2s;
    }  
    #mask-03 {
      animation: strokeOffset 0.2s linear forwards .4s;
    }  
    #mask-04 {
      animation: strokeOffset 0.2s linear forwards .6s;
    }  
    #mask-05 {
      animation: strokeOffset 0.2s linear forwards .8s;
    }  
    #mask-06 {
      animation: strokeOffset 0.2s linear forwards 1s;
    }    
    #mask-07 {
      animation: strokeOffset 0.2s linear forwards 1.2s;
    }    
    #mask-08 {
      animation: strokeOffset 0.2s linear forwards 1.4s;
    }  
    #mask-09 {
      animation: strokeOffset 0.2s linear forwards 1.6s;
    }   
    #mask-10 {
      animation: strokeOffset 0.2s linear forwards 1.8s;
    }   
    #mask-11 {
      animation: strokeOffset 0.2s linear forwards 2s;
    }   
    #mask-12 {
      animation: strokeOffset 0.2s linear forwards 2.2s;
    }   
    #mask-13 {
      animation: strokeOffset 0.2s linear forwards 2.4s;
    }   
    #mask-14 {
      animation: strokeOffset 0.2s linear forwards 2.6s;
    }   
    #mask-15 {
      animation: strokeOffset 0.2s linear forwards 2.8s;
    }   
    #mask-16 {
      animation: strokeOffset 0.2s linear forwards 3s;
    }   
    #mask-17 {
      animation: strokeOffset 0.2s linear forwards 3.2s;
    }   
    #mask-18 {
      animation: strokeOffset 0.2s linear forwards 3.4s;
    }   
    #mask-19 {
      animation: strokeOffset 0.2s linear forwards 3.6s;
    }   
    #mask-20 {
      animation: strokeOffset 0.2s linear forwards 3.8s;
    }   
    #mask-21 {
      animation: strokeOffset 0.2s linear forwards 4s;
    }   
    #mask-22 {
      animation: strokeOffset 0.2s linear forwards 4.2s;
    }   
    #mask-23 {
      animation: strokeOffset 0.2s linear forwards 4.4s;
    }   
    #mask-24 {
      animation: strokeOffset 0.2s linear forwards 4.6s;
    }   
    #mask-25 {
      animation: strokeOffset 0.2s linear forwards 4.8s;
    }   
  
  .text13b{
    position: absolute;
    bottom: 25vh;
    width: 80vw;
    margin-left: 10vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(32px, 4vw, 48px);
    text-align: center;
  }
  /* ------ SECTION 14 ------- */
  .imgpos14{
    position: absolute;
    top: 30vh;
    left: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgpos14 img{
    border-radius: 3vw;
    opacity: 0.1;
    width: 9vh;
    filter: drop-shadow(0px .5px .5px #222);
  }
  .text14{
    position: absolute;
    top: 5vh;
    left: 50vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(32px, 4vw, 48px);
    text-align: left;
    line-height: 3dvw;
  }
  .text14b{
    position: absolute;
    bottom: 18vh;
    left: 50vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(32px, 4vw, 48px);
    text-align: left;
    line-height: 3dvw;
  }
  .text14b a{
    text-decoration: none;
    color: black;
  }
  .text14btitle{
    font-weight: bold;
  }
  .icon{
    position: relative;
    top: 1.4vw; 
    margin-right: 2vw;
    width: 4vw;
  }



/* ------ Animations ------- */
@keyframes run {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;    
  }
  80% {
    opacity: 1;    
  }
  100% {
    opacity: 0;    
  }
}


/* div {
  display: flex;
  align-items: center;
  justify-content: center;
} */